.sidebar {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
    align-items: center;
}
.sideLower {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sideLower div {
    display: flex;
    gap: 2px;
}

.mysvg {
    width: 19px;
    height: auto;
}

/* hover section */

#bell-noti:hover,
.add-task:hover,
.sideContent:hover,
.mysvg:hover {
    background-color: hsl(0, 0%, 85%);
    border-radius: 12px;
}

/* End of hover section */
#bell-noti,
.add-task,
.sideContent,
.mysvg {
    cursor: pointer;
}
/* pointer section */

/* end of pointer section */
