* {
    margin: 0px;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    padding: 0px 20px;
}

.main-content {
    padding-top: 20px;
    padding-left: min(10vw, 200px);
}

/* Theme */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
    color: #2e2e2e;
}

.sidebar {
    background-color: #ececec;
    color: #2e2e2e;
    font-family: "Montserrat", sans-serif;
}

.main-content {
    background-color: #fafafa;
    color: #2e2e2e;
    font-family: "Montserrat", sans-serif;
}

a {
    color: #1c7c54;
    text-decoration: none;
}

a:hover {
    color: #2aa876;
}

button {
    background-color: #1c7c54;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

button:hover {
    background-color: #2aa876;
}

.sidebar .header {
    font-family: "Merriweather", serif;
    font-size: 1.5em;
    color: #2e2e2e;
}

.sidebar .section {
    margin-bottom: 20px;
}

/* End of Theme */
