/* User Profile */
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

#user-name{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

#user-logo{
    width: 35px;
    height: auto;
    border-radius: 50%; 
}

#user-noti{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#bell-noti{
    width: 18px;
    height: auto;
}
#dropdown-arrow{
    width: 18px;
    height: auto;
}
/* End User Profile */